.container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: auto;
}

.main > section {
  flex: 0;
  padding: 0 2rem;
}


@media (max-width: 1000px) {
  .main > section {
    display: none;
  }
}